<div class="new-post-container">
    <form action="/post/api/v1/create-post" method="post">
        <textarea name="text"  id="" cols="30" rows="10"></textarea>
        <div class="button-container">
            <button type="submit">create post</button>
            <button><a href="/post/api/v1/read-posts">back to posts</a></button>
        </div>
    </form>
</div>