
<div class="login-user-container">
    <form action="" method="post">
        <input type="text" placeholder="Enter your username">
        <input type="password" placeholder="Enter your Password">
       <button type="submit">Login Account</button>
    </form>
</div>