
<div class="post-page-contaniner">
    {{#each posts}}
    <div class="posts-container">
        <div class="post">
            <p>{{text}}</p>
            <div class="button-container">
                <button><a href="/post/api/v1/update-post/{{_id}}">Edit post</a></button>
                <button><a href="/post/api/v1/delete-post/{{_id}}">Delete post</a></button>
                <button><a href="/post/api/v1/create-post">Add new post</a></button>
            </div>  
        </div>
    </div>
    {{/each}}
    
</div>
