
<div class="post-page-contaniner">
    {{#each posts}}
    <div class="posts-container">
        <div class="post">
            <p>{{text}}</p>
            <div class="button-container">
                <button><a href="/post/api/v1/show-post/{{_id}}">Show post</a></button>
            </div>  
        </div>
    </div>
    {{/each}}   
</div>
